.movies-nav {
    margin: 0 0 0 44px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    z-index: 1;
}

.movies-nav__links-container {
    display: flex;
    gap: 14px;
    align-items: center;
}

.movies-nav__link {
    text-decoration: none;
    color: #000000;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
}

.movies-nav__profile-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #F9F9F9;
    border-radius: 6px;
}

.movies-nav__profile-icon {
    width: 10px;
    height: 10px;
}