.not-found {
    margin: 0;
    padding: 246px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__title {
    margin: 0;
    font-size: 140px;
    font-weight: 400;
}

.not-found__text {
    margin: 12px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.not-found__button {
    margin: 185px 0 0 0;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    border: 0;
    background-color: initial;
}

@media screen and (max-width: 768px) {
    .not-found {
        padding: 408px 0 60px 0;
    }
}

@media screen and (max-width: 320px) {
    .not-found {
        padding: 330px 0 60px 0;
    }

    .not-found__title {
        font-size: 80px;
    }

    .not-found__text {
        margin: 14px 0 0 0;
        font-size: 12px;
    }

    .not-found__button {
        margin: 285px 0 0 0;
        font-size: 12px;
    }
}