.header {
    margin: 0;
    background-color: #F3C1F8;
    display: flex;
    justify-content: space-between;
    padding: 18px 70px 18px 70px;
}

.header_type_light {
    background-color: #FFFFFF;
}

.header__logo {
    height: 38px;
    width: 38px;
}