.about-me {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 110px 70px 100px 70px;
    background-color: #FFFFFF;
}

.about-me__title {
    margin: 0;
    border-bottom: 1px solid #000000;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 23px;
}

.about-me__container {
    display: flex;
    justify-content: space-between;
    margin: 66px 0 0 0;
}

.about-me__info-container {
    max-width: 600px;
}

.about-me__info-title {
    margin: 0;
    line-height: 58px;
    font-size: 50px;
    font-weight: 400;
}

.about-me__info-subtitle {
    margin:18px 0 0 0;
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;
}

.about-me__info-description {
    margin:26px 0 99px 0;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
}

.about-me__info-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.about-me__info-photo {
    height: 327px;
    width: 270px;
    border-radius: 10px;
    object-fit: cover;
}